{% extends "admin_base.html" %}

{% block title %}Dashboard{% endblock %}

{% block admin_content %}
<div class="container mx-auto px-4 py-8 bg-gray-900 text-gray-300">
    <h1 class="text-2xl font-bold mb-6 text-white">Dashboard</h1>

    <div class="grid grid-cols-2 gap-4 mb-8">
        <div class="bg-gray-800 rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold mb-2 text-gray-400">Total Clients</h2>
            <p class="text-3xl font-bold text-white">{{ total_clients }}</p>
        </div>
        <div class="bg-gray-800 rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold mb-2 text-gray-400">Total Bookings</h2>
            <p class="text-3xl font-bold text-white">{{ total_bookings }}</p>
        </div>
    </div>

    <div class="grid grid-cols-2 gap-8">
        <div class="bg-gray-800 rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold mb-4 text-gray-400">Upcoming Confirmed Events</h2>
            {% if upcoming_events %}
            <ul class="space-y-4">
                {% for event in upcoming_events %}
                <li class="border-b border-gray-700 pb-4 hover:bg-gray-700 px-3 py-3 transition-colors duration-200 cursor-pointer event-item"
                    data-event-id="{{ event.id }}">
                    <div class="flex flex-row gap-9">
                        <div>
                            <p class="font-semibold text-white">{{ event.get_event_type_display }}</p>
                            <p class="text-sm text-gray-400">Date: {{ event.date|date:"M d, Y" }}</p>
                            <p class="text-sm text-gray-400">Time: {{ event.time|time:"H:i" }}</p>
                            <p class="text-sm text-gray-400">Location: {{ event.location }}</p>
                            <p class="text-sm text-gray-400">Guests: {{ event.guests }}</p>
                        </div>
                        <div>
                            <p class="font-semibold text-gray-400">{{ event.user.first_name }} {{event.user.last_name}}
                            </p>
                            <p class="text-sm text-gray-400">Email: {{ event.user.email}}</p>
                            <p class="text-sm text-gray-400">Contact Number: {{ event.user.contact_number }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            <p class="text-gray-400">No upcoming confirmed events.</p>
            {% endif %}
        </div>

        <div class="bg-gray-800 rounded-lg shadow-md p-6">
            <h2 class="text-xl font-semibold mb-4 text-gray-400">New Pending Events</h2>
            {% if new_events %}

            <ul class="space-y-4">
                {% for event in new_events %}
                <li class="border-b border-gray-700 pb-4 hover:bg-gray-700 px-3 py-3 transition-colors duration-200 cursor-pointer event-item"
                    data-event-id="{{ event.id }}">
                    <div class="flex flex-row gap-9">
                        <div>
                            <p class="font-semibold text-white">{{ event.get_event_type_display }}</p>
                            <p class="text-sm text-gray-400">Date: {{ event.date|date:"M d, Y" }}</p>
                            <p class="text-sm text-gray-400">Time: {{ event.time|time:"H:i" }}</p>
                            <p class="text-sm text-gray-400">Location: {{ event.location }}</p>
                            <p class="text-sm text-gray-400">Guests: {{ event.guests }}</p>
                        </div>
                        <div>
                            <p class="font-semibold text-gray-400">{{ event.user.first_name }} {{event.user.last_name}}
                            </p>
                            <p class="text-sm text-gray-400">Email: {{ event.user.email}}</p>
                            <p class="text-sm text-gray-400">Contact Number: {{ event.user.contact_number }}</p>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>

            {% else %}
            <p class="text-gray-400">No new pending events.</p>
            {% endif %}
        </div>
    </div>
</div>
<div id="eventPopup" class="fixed inset-0 bg-black bg-opacity-50 hidden items-center justify-center">
    <div class="bg-gray-800 p-6 rounded-lg shadow-xl w-100 transform scale-95 opacity-0 transition-all duration-300">
        <h3 id="popupTitle" class="text-xl font-semibold mb-4 text-white"></h3>
        <div class="flex justify-between">
            <button class="bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 mx-2 rounded"
                onclick="handleEventAction('confirm-booking')">
                Confirm
            </button>
            <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 mx-2 rounded"
                onclick="handleEventAction('complete-event')">
                Completed
            </button>
            <button class="bg-yellow-600 hover:bg-yellow-700 text-white font-bold py-2 px-4 mx-2 rounded"
                onclick="handleEventAction('cancel-booking')">
                Cancel
            </button>
            <button class="bg-blue-600 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2 rounded"
                onclick="handleEventAction('edit')">
                Edit
            </button>
            <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 mx-2 rounded"
                onclick="handleEventAction('delete-booking')">
                Delete
            </button>
        </div>
        <button class="mt-4 text-gray-400 hover:text-white" onclick="closePopup()">Close</button>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const eventItems = document.querySelectorAll('.event-item');
        eventItems.forEach(item => {
            item.addEventListener('click', () => {
                currentEventId = item.dataset.eventId;
                const eventTitle = item.querySelector('p').textContent;
                openPopup(eventTitle);
            });
        });
    });

    function openPopup(eventTitle) {
        const popup = document.getElementById('eventPopup');
        const popupContent = popup.querySelector('div');
        document.getElementById('popupTitle').textContent = eventTitle;

        popup.classList.remove('hidden');
        popup.classList.add('flex');

        setTimeout(() => {
            popupContent.classList.remove('scale-95', 'opacity-0');
            popupContent.classList.add('scale-100', 'opacity-100');
        }, 10);
    }

    function closePopup() {
        const popup = document.getElementById('eventPopup');
        const popupContent = popup.querySelector('div');

        popupContent.classList.remove('scale-100', 'opacity-100');
        popupContent.classList.add('scale-95', 'opacity-0');

        setTimeout(() => {
            popup.classList.remove('flex');
            popup.classList.add('hidden');
        }, 300);
    }

    function handleEventAction(action) {
        if (action === 'cancel-booking' || action === 'complete-event' || action === 'delete-booking' || action === 'confirm-booking') {
            updateBookingStatus(currentEventId, action);
        } else {
            console.log(`Action: ${action}, Event ID: ${currentEventId}`);
            closePopup();
        }
    }

    function updateBookingStatus(bookingId, action) {
        const url = `/admin-portal/${action}/${bookingId}/`;

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(data => {
                console.log('Server response:', data);
                if (data.success) {
                    const updatedEvent = document.querySelector(`.event-item[data-event-id="${bookingId}"]`);
                    if (updatedEvent) {
                        if (action === 'confirm-booking') {
                            moveEventToConfirmed(updatedEvent);
                        } else {
                            updatedEvent.remove();
                        }
                    }
                    showMessage(data.message, 'success');
                } else {
                    showMessage(data.message, 'error');
                    throw new Error(data.message || 'Unknown error occurred');
                }
            })
            .catch(error => {
                console.error(`Error updating booking:`, error);
                showMessage(error.message || `Error updating booking. Please try again.`, 'error');
            })
            .finally(() => {
                closePopup();
            });
    }

    function moveEventToConfirmed(eventElement) {
        const confirmedEventsContainer = document.querySelector('.grid.grid-cols-2.gap-8 > div:first-child');
        let confirmedEventsList = confirmedEventsContainer.querySelector('ul');
        const noEventsMessage = confirmedEventsContainer.querySelector('p');

        if (noEventsMessage) {
            noEventsMessage.remove();
        }

        if (!confirmedEventsList) {
            confirmedEventsList = document.createElement('ul');
            confirmedEventsList.className = 'space-y-4';
            confirmedEventsContainer.appendChild(confirmedEventsList);
        }

        confirmedEventsList.appendChild(eventElement);

        // Update the event item to reflect its new status
        const titleElement = eventElement.querySelector('p.font-semibold');
        if (titleElement) {
            titleElement.textContent += ' (Confirmed)';
        }

        // Remove the event from the pending events list
        const pendingEventsList = document.querySelector('.grid.grid-cols-2.gap-8 > div:last-child ul');
        if (pendingEventsList) {
            const pendingEvent = pendingEventsList.querySelector(`.event-item[data-event-id="${eventElement.dataset.eventId}"]`);
            if (pendingEvent) {
                pendingEvent.remove();
            }
            // If the pending events list is now empty, add a "No new pending events" message
            if (pendingEventsList.children.length === 0) {
                const noEventsMessage = document.createElement('p');
                noEventsMessage.className = 'text-gray-400';
                noEventsMessage.textContent = 'No new pending events.';
                pendingEventsList.parentNode.appendChild(noEventsMessage);
                pendingEventsList.remove();
            }
        }
    }

    function showMessage(message, type) {
        const messageDiv = document.createElement('div');
        messageDiv.textContent = message;
        messageDiv.classList.add('fixed', 'top-4', 'right-4', 'p-4', 'rounded', 'text-white', 'opacity-0', 'transition-opacity', 'duration-300');

        if (type === 'success') {
            messageDiv.classList.add('bg-green-600');
        } else {
            messageDiv.classList.add('bg-red-600');
        }

        document.body.appendChild(messageDiv);

        setTimeout(() => {
            messageDiv.classList.add('opacity-100');
        }, 10);

        setTimeout(() => {
            messageDiv.classList.remove('opacity-100');
            setTimeout(() => {
                messageDiv.remove();
            }, 300);
        }, 3000);
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
</script>
{% endblock %}